nav {
    position: fixed;
    width: 100%;
    padding: 30px 0;

    .nav {
        @include flex(center, space-between);

        .logo {
            img {
                width: 100px;
            }
        }

        .menu {
            ul {
                @include flex(center, center);
                gap: 30px;
                list-style: none;

                li {
                    a {
                        color: $white-text;
                        font-size: 20px;
                        text-decoration: none;
                        transition: all .5s ease;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        .other {
            i {
                font-size: 30px;
                color: $white-text;
                margin-left: 10px;
                cursor: pointer;
                transition: all .5s ease;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

.section-1 {
    background: url(./assets/master-slides-02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .text {
        @include flex(center, center);
        flex-direction: column;
        height: 100vh;
        gap: 10px;

        h1 {
            font-family: 'Courgette', cursive;
            color: $white-text;
            font-size: 50px;
        }

        h2 {
            color: $white-text;
            font-size: 90px;
            font-weight: 600;
            letter-spacing: 20px;
        }

        button {
            border: none;
            outline: none;
            background: #fff;
            color: $primary-color;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 8px;
            font-size: 17px;
            transition: all .5s ease;

            &:hover {
                background: $primary-color;
                color: $white-text;
            }
        }
    }
}

.section-2 {
    padding: 20px 0;

    .box {
        @include flex(center, center);
        gap: 50px;

        .text {
            width: 45%;
            @include flex(center, center);
            flex-direction: column;

            h1 {
                font-family: 'Courgette', cursive;
                color: $primary-color;
                font-size: 25px;
            }

            h3 {
                font-size: 50px;
            }

            p {
                color: gray;
                text-align: center;
            }

            a {
                color: gray;
                text-decoration: none;
            }
        }

        .image {
            width: 45%;

            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
            }
        }
    }
}

.section-3 {
    width: 100%;
    height: 300px;
    background: url(./assets/bg-intro-01.jpg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @include flex(center, center);
    flex-direction: column;
    gap: 20px;

    h1 {
        font-family: 'Courgette', cursive;
        color: $primary-color;
        font-size: 25px;
        text-align: center;
    }

    h2 {
        color: $white-text;
        font-size: 50px;
        font-weight: 600;
        letter-spacing: 10px;
    }
}

.section-4 {
    padding: 20px 0;

    .card-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        .card {
            @include flex();
            flex-direction: column;
            gap: 20px;

            .image {
                overflow: hidden;
                border-radius: 10px;
                @include flex(center, center);

                img {
                    width: 100%;
                    border-radius: 10px;
                    transition: all .5s ease;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .text {
                h1 {
                    transition: all .5s ease;
                    font-weight: 400;

                    &:hover {
                        color: $primary-color;
                    }
                }

                p {
                    color: gray;
                }

                a {
                    color: gray;
                    text-decoration: none;
                }
            }
        }
    }
}

.section-5 {
    .box {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 30px 0;

        div {
            position: relative;
        }

        .item-1 {
            grid-row: 1/3;
            overflow: hidden;
            border-radius: 10px;

            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                transition: all .5s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .item-2 {
            grid-row: 1/3;
            overflow: hidden;
            border-radius: 10px;

            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                transition: all .5s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .item-3 {
            overflow: hidden;
            border-radius: 10px;

            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                transition: all .5s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .item-4 {
            overflow: hidden;
            border-radius: 10px;

            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                transition: all .5s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .item-5 {
            grid-column: 1/3;
            overflow: hidden;
            border-radius: 10px;

            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                transition: all .5s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .item-6 {
            overflow: hidden;
            border-radius: 10px;

            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                transition: all .5s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        button {
            background: $secondary-color;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: none;
            color: #000;
            font-size: 18px;
            padding: 10px 20px;
            outline: none;
            border-radius: 8px;
            transition: all .5s ease;
            cursor: pointer;

            &:hover {
                background: $primary-color;
                color: $white-text;
            }
        }
    }
}

.section-6 {
    width: 100%;
    background: url(./assets/bg-event-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(center, center);
    padding: 50px 0;

    .box {
        @include flex(center, center);
        flex-direction: column;

        .text {
            h1 {
                color: $primary-color;
                font-family: 'Courgette', cursive;
                text-align: center;
            }

            span {
                color: $white-text;
                font-weight: 600;
                font-size: 70px;
            }
        }

        .card {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            background: $secondary-color;
            border-radius: 10px;
            overflow: hidden;

            .left {
                @include flex(center, center);

                img {
                    width: 100%;
                }
            }

            .right {
                @include flex(center, center);
                flex-direction: column;
                gap: 30px;
                padding: 20px;

                .top {
                    h1 {
                        letter-spacing: 5px;
                        font-weight: 300;
                        text-align: center
                    }

                    p {
                        color: gray;
                        text-align: center
                    }
                }

                .bottom {

                    .time {
                        @include flex(center, center);
                        gap: 50px;

                        .box {
                            @include flex(center, center);
                            flex-direction: column;

                            h2 {
                                color: $primary-color;
                                font-size: 35px;
                            }
                        }
                    }
                }

                a {
                    color: gray;
                    text-decoration: none;
                    @include flex(center, center);
                }
            }

            &::after {
                content: '08:00 PM Tuesday - 21 November 2018';
                width: 100%;
                padding: 5px;
                position: absolute;
                top: 50%;
                right: 590px;
                background-color: $primary-color;
                transform: rotate(-90deg) translateY(-50%);
                text-align: center;
                color: $white-text;
            }
        }
    }
}

.section-7 {
    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 30px;

        .left {
            @include flex(center, center);
            flex-direction: column;
            gap: 20px;

            .text {
                h1 {
                    color: $primary-color;
                    font-family: 'Courgette', cursive;
                    text-align: center;
                }

                span {
                    font-size: 70px;
                    font-weight: 600;
                }
            }

            .inputs {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;

                .input-box {
                    @include flex;
                    flex-direction: column;
                    gap: 10px;

                    input {
                        width: 100%;
                        font-size: 18px;
                        padding: 5px 10px;
                        border-radius: 7px;
                        outline: none;
                        background: #fff;
                        border: solid 2px gray;
                        transition: all .5s ease;

                        &:focus {
                            border: solid 2px $primary-color;
                        }
                    }

                    select {
                        width: 100%;
                        font-size: 18px;
                        padding: 5px 10px;
                        border-radius: 7px;
                        outline: none;
                        background: #fff;
                        border: solid 2px gray;
                    }
                }
            }

            button {
                background: #252525;
                border: none;
                outline: none;
                border-radius: 7px;
                color: $white-text;
                padding: 10px 20px;
                cursor: pointer;
                transition: all .5s ease;

                &:hover {
                    background: $primary-color;
                }
            }
        }

        .right {
            border-radius: 10px;
            overflow: hidden;
            @include flex(center, center);

            img {
                width: 100%;
                transition: all .5s ease;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.section-8 {
    padding: 20px 0;

    .box {
        width: 100%;
        @include flex;
        flex-direction: column;

        .top {
            width: 100%;
            @include flex(center, center);
            flex-direction: column;

            h1 {
                color: $primary-color;
                font-family: 'Courgette', cursive;
                text-align: center;
            }

            span {
                font-size: 70px;
                font-weight: 600;
            }
        }

        .bottom {
            @include flex(center, center);
            flex-direction: column;
            gap: 20px;

            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border: solid 5px $primary-color;
                border-radius: 999px;
            }

            p {
                color: gray;
                width: 60%;
                text-align: center;
            }
        }

        .stars {
            color: yellow;
        }
    }
}

.section-9 {
    width: 100%;
    height: 500px;
    background: url(./assets/bg-cover-video-02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @include flex(center, center);

    .box {
        width: 100%;
        @include flex(center, center);
        flex-direction: column;

        h1 {
            color: $primary-color;
            font-family: 'Courgette', cursive;
            text-align: center;
        }

        span {
            font-size: 70px;
            font-weight: 600;
            color: $white-text;
        }

        i {
            font-size: 30px;
            background: #fff;
            padding: 20px;
            border-radius: 999px;
        }
    }
}

.section-10{
    background: #e3e3e3;
    .box{
        width: 100%;
        height: 200px;
        @include flex(center, center);
        gap: 10px;
        .input-box{
            background: #fff;
            border: 2px solid gray;
            border-radius: 8px;
            padding: 10px 20px;
            input{
                background: transparent;
                border: none;
                outline: none;
                font-size: 18px;
            }
            i{
                font-size: 20px;
                color: gray;
            }
        }
        button{
            background: #000;
            color: $white-text;
            padding: 10px 20px;
            border-radius: 8px;
            font-size: 18px;
            border: none;
            outline: none;
            cursor: pointer;
            transition: all .5s ease;
            &:hover{
                background: $primary-color;
            }
        }
    }
}

footer{
    background: #252525;
    padding: 20px 0;
    .box{
        .top{
            @include flex();
            gap: 50px;
            h1{
                color: $white-text;
                font-size: 20px;
                margin-top: 20px;
            }
            span{
                color: gray;
            }
            i{
                color: gray;
            }
            .box-2{
                width: 30%;
            }
            .box-3{
                width: 30%;
                @include flex;
                gap: 20px;
                flex-direction: column;
                .images{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 20px;
                    .img{
                        position: relative;
                        transition: all .5s ease;
                        img{
                            width: 100%;
                        }
                        &::after{
                            position: absolute;
                            content: '';
                            background: rgba($color: #ff0000, $alpha: .5);
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 93%;
                            opacity: 0;
                            transition: all .5s ease;
                        }
                        &:hover::after{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .bottom{
            margin-top: 30px;
            @include flex(center, space-between);
            color: gray;
        }
    }
}